/* Colors */

$color-primary: #bea67c;
$color-white: #fff;
$color-black: #000;
$color-gray: #89888b;

/* Fonts */ 

/* 
  Regular: font-weight: 400, font-style: normal;
  Semibold: font-weight: 600, font-style: normal;
  Semibold italic: font-weight: 600, font-style: italic;
  Bold: font-weight: 700, font-style: normal;
  Black: font-weight: 900, font-style: normal;
*/

$font-source-sans-pro: 'source-sans-pro', sans-serif;

// Fonts weight
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;
