.product-list {
  padding: 15px 0;
  text-align: center;

  .h1::after {
    content: '';
    display: block;
    background-color: $color-primary;
    width: 775px;
    height: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 45px;
  }
}

.products {
  padding-top: 100px;
}

